@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

 div {
    display: block;
    position: absolute;
    border-radius: 10px;
 }

p#presi {
    display: block;
    position: absolute;
    top: 1%;
    left: 10%;
    font-size: 1.5em;
}
#foto-cand {
    width: 200px;
    height: 300px;
    background: black;
    margin-left: 1%;
    margin-top: 6%;
}
#num {
    display: block;
    position: absolute;
    width: 100px;
    height: 50px;
    top: 1%;
    left: 50%;
    border: 2px solid black;
    font-size: 3em;
    text-align: center;
}
#dados {
    display: block;
    position: absolute;
    width: 190px;
    height: 190px;
    padding: 10px;
    top: 10%;
    left: 47%;
    border: 1px dashed black;
}

p#vice {
    display: block;
    position: absolute;
    top: 45%;
    left: 65%;
    font-size: 1.5em;
}
#foto-vice {
    display: block;
    position: absolute;
    width: 200px;
    height: 300px;
    background: black;
    left: 50%;
    top: 50%;
}
#dados-vice {
    display: block;
    position: absolute;
    width: 190px;
    height: 190px;
    padding: 10px;
    top: 60%;
    left: 1%;
    border: 1px dashed black
}