@charset "UTF-8";

body {
    color: rgb(0, 255, 13);
    font-weight: bold;
    background: rgb(1, 0, 70)
}

#foto-cand {
    background: black url(../_imagens/luigi-candidato.jpg) center center no-repeat;
    background-size: cover;
}

#foto-vice {
    background: black url(../_imagens/luigi-candidato-vice.jpg) center center no-repeat;
    background-size: cover;
    border: 1px solid black;
}

h1 {
    color: rgb(38, 0, 255);
}