@charset "UTF-8";

body {
    color: blue;
    font-weight: bold;
    background: rgb(0, 70, 0)
}

#foto-cand {
    background: black url(../_imagens/mario-candidato.jpg) center center no-repeat;
    background-size: cover;
}

#foto-vice {
    background: black url(../_imagens/mario-candidato-vice.jpg) center center no-repeat;
    background-size: cover;
    border: 1px solid black;
}

h1 {
    color: red;
}