@charset "utf-8";

@media screen and (min: 300px) {
    
}
@media screen and (min-width: 769px) and (max-width: 992px) {
    body {
        background-color: blue;
        transition: .5s;
    }
    
    #branco {
        max-width: 700px;
    }

    #um, #dois, #tres {
        margin-top: 10px;
    }
}

@media screen and (min-width: 993px) {
    body {
        background-color: rgb(1, 68, 24);
        transition: .5s;
    }
    
    #branco {
        max-width: 700px;
        height: 250px;
    }

    #um, #dois, #tres {
        margin-top: 10px;
    }
}