@charset "UTF-8";

body {
    color: red;
    font-weight: bold;
    background: rgb(63, 63, 63)
}

#foto-cand {
    background: black url(../_imagens/robo-candidato.jpg) center center no-repeat;
    background-size: cover;
}

#foto-vice {
    background: black url(../_imagens/robo-candidato-vice.jpg) center center no-repeat;
    background-size: cover;
    border: 1px solid black;
}

h1 {
    color: rgb(0, 247, 255);
}