@charset "UTF-8";

body {
    color: rgb(255, 238, 0);
    font-weight: bold;
    background: rgb(1, 0, 70)
}

#foto-cand {
    background: black url(../_imagens/yoshi-candidato.jpg) center center no-repeat;
    background-size: cover;
}

#foto-vice {
    background: black url(../_imagens/yoshi-candidato-vice.jpg) center center no-repeat;
    background-size: cover;
    border: 1px solid black;
}

h1 {
    color: rgb(0, 247, 255);
}